<div class="main-footer">
    <div>
        <img src="assets/Assets_Seller/footer_border.png" width="100%" alt="">
    </div>
    <div class="footer">
        <div fxLayout="row" 
             fxLayoutAlign="space-between start"
             >
            <div fxFlex="30" style="margin-top: 5%;">

                <div>
                    <img src="assets/Assets_Seller/logo_footer.png" style="width: 260px;" alt="footer-logo">
                </div>
                <p class="footer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                    a galley of type and scrambled it to make a type specimen book.</p>

            </div>
            <div fxFlex="60" style="margin-top: 5%;">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                    <div fxFlex="15">
                        <h6>Solutions</h6>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Retailers</a></li>
                                <li><a href="#">Brands</a></li>
                            </ul>
                        </div>
                    </div>
                    <div fxFlex="15">
                        <h6>Products</h6>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Ads</a></li>
                                <li><a href="#">Deals</a></li>
                                <li><a href="#">Orders</a></li>
                                <li><a href="#">Store</a></li>
                                <li><a href="#">Retail</a></li>
                                <li><a href="#">Exchange</a></li>
                            </ul>
                        </div>
                    </div>
                    <div fxFlex="15">
                        <h6>Support</h6>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Customers</a></li>
                                <li><a href="#">Developers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div fxFlex="15">
                        <h6>Get Started</h6>
                        <div class="footer-links">
                            <ul>
                                <li><a href="#">Add Your Business</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="footer">
        <div fxLayout="row" 
             fxLayoutAlign="space-between center" 
             style="padding: 20px 0px;">
            <div fxFlex="50">
                <div class="social-icons">
                    <a href="#"><img src="assets/Assets_Seller/fb.png"></a>
                    <a href="#"><img src="assets/Assets_Seller/insta.png"></a>
                    <a href="#"><img src="assets/Assets_Seller/twitter.png"></a>
                    <a href="#"><img src="assets/Assets_Seller/linkedin.png"></a>
                    <a href="#"><img src="assets/Assets_Seller/youtube.png"></a>
                </div>
            </div>
            <div fxFlex="50" fxLayoutAlign="end">
                <p style="font-size: 14px; color: #A0A0A0;">Products may not be available in every market</p>
            </div>
        </div>
    </div>
        
</div>