.main-footer {
    width: 100%;
    height: auto;
    background-color: #FBFBFB;
}
.footer {
    width: 90%;
    margin: auto;
    
    h6 {
        color: #000000;
        font-weight: 600;
    }
    a {
        color: #A0A0A0;
        font-size: 14px;
        &.active,
                &:hover{
                color: #A797F6;
            }
    }
    .footer-text {
        text-align: justify;
        margin-top: 15px;
        font-size: 13px;
        color: #A0A0A0;
    }
}
.social-icons a{
    margin-right: 10px;
    img{
        width: 40px;
    }
}