<div class="mx-3">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="header mb-4">
    <div fxFlex='50'>
      <h2>Dashboard</h2>
    </div>
    <div fxFlex='16'>


      <select class="form-control">
        <option value="vendor">Today</option>
        <option value="retailer">Tomorrow</option>

      </select>

    </div>
    <div fxFlex='20'>

      <input type="date" placeholder="06 June - 06 July" class="form-control">

    </div>
    <div fxFlex='12'>
      <div>
        <button [matMenuTriggerFor]="menu" class="btn button" type="button">Filter</button>
        <mat-menu #menu="matMenu">
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="px-2">
            <div>
              <button class="btn buttonB">Clear</button>
            </div>
            <div>
              <span class="heding">Filters</span>
            </div>
            <div>
              <button class="btn buttonA">Done</button>
            </div>



          </div>
          <div class="mt-3">
            <div (click)="doSomething($event)" class=" b-color pt-3 px-2">
              <mat-checkbox (change)="validDate($event)"><span class="check">Date</span></mat-checkbox>
            </div>


          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="mt-3" *ngIf="date">

            <div fxFlex="100" class="mt-3">
              <div class="px-2" (click)="doSomething($event)">
                <input type="number" name="" value="" placeholder="is in the last" class="form-control text-box">


              </div>
            </div>
            <div fxFlex="50" class="mt-2">
              <div class="px-2" (click)="doSomething($event)">
                <input type="text" name="" value="" class="form-control text-box">


              </div>
            </div>
            <div fxFlex="50" class="mt-2">
              <div class="px-2" (click)="doSomething($event)">
                <input type="number" name="" value="" placeholder="Days" class="form-control text-box">


              </div>
            </div>
            <div fxFlex="100" class="mt-3">
              <div class="px-2" (click)="doSomething($event)">
                <span class="check mr-3 mb-2" style="color:#B0B0B0;font-size: 18px">Time Zone:</span>
                <mat-radio-group aria-label="Select an option" style="margin-top: 20px;">
                  <mat-radio-button value="1"><span class="check">GMT + 5</span></mat-radio-button>
                  <mat-radio-button value="2"><span class="check">UTC</span></mat-radio-button>
                </mat-radio-group>


              </div>
            </div>
          </div>

          <div>
            <div (click)="doSomething($event)" class=" b-color pt-3 px-2">
              <mat-checkbox (change)="validAmount($event)"><span class="check">Amount</span></mat-checkbox>
            </div>


          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" *ngIf="ammount">

            <div fxFlex="100" class="mt-3">
              <div class="px-2" (click)="doSomething($event)">
                <input type="number" name="" value="" placeholder="is in the last" class="form-control text-box">


              </div>
            </div>
            <div fxFlex="50" class="mt-2">
              <div class="px-2" (click)="doSomething($event)">
                <input type="text" name="" value="" class="form-control text-box">


              </div>
            </div>


          </div>


          <div>
            <div (click)="doSomething($event)" class=" b-color pt-3 px-2">
              <mat-checkbox (change)="validStats($event)"><span class="check">Status</span></mat-checkbox>
            </div>


          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center" (click)="doSomething($event)" *ngIf="status">

            <div fxFlex="100" class="mt-3">
              <div class="px-2">
                <mat-checkbox><span class="check">Succeeded</span></mat-checkbox>
              </div>
            </div>
            <div fxFlex="100" class="">
              <div class="px-2">
                <mat-checkbox><span class="check">Incomplete</span></mat-checkbox>
              </div>
            </div>
            <div fxFlex="100" class="">
              <div class="px-2">
                <mat-checkbox><span class="check">Uncaptured</span></mat-checkbox>
              </div>
            </div>



          </div>


        </mat-menu>
      </div>

    </div>
  </div>
<app-dashboard-cards [cardsData]='cardsData'></app-dashboard-cards>
<app-dashboard-charts [chartsData]='chartsData'></app-dashboard-charts>
<app-dashboard-table [tabelsData]='tabelsData'></app-dashboard-table>
 
</div>